.accounts-container {
  font-family: 'San Francisco', 'Arial', sans-serif; /* 苹果系统默认字体 */
  color: #333;
  text-align: center;
}

.add-account-btn {
  background-color: #007aff; /* 苹果风格的蓝色 */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15px; /* 圆角按钮 */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s; /* 按钮悬停效果 */
}

.add-account-btn:hover {
  background-color: #0056b3;
}

input[type="text"] {
  border: 1px solid #ccc; /* 文本框边框 */
  padding: 10px;
  margin: 5px;
  border-radius: 8px; /* 圆角文本框 */
  font-size: 16px;
  width: calc(200px - 20px - 2px); /* 宽度调整，减去边框和内边距 */
}

.account-card {
  border: 1px solid #e7e7e7;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  width: 200px; /* 宽度调整 */
  background-color: #fff; /* 添加背景颜色 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.account-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.account-card p {
  font-size: 16px;
  color: #666;
}

.account-card button {
  background-color: #007aff; /* 苹果风格的蓝色 */
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px; /* 圆角按钮 */
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s; /* 按钮悬停效果 */
}

.account-card button:hover {
  background-color: #0056b3;
}
