.dashboard {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1; /* Light background color for main content */
    height: 100vh;
    overflow-y: auto;
  }
  
  .header {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .header h1 {
    margin: 0;
    font-size: 28px;
    color: #2c3e50; /* Darker text color for headers */
  }
  
  .content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .balance, .transactions {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .balance h2, .transactions h2 {
    margin-top: 0;
    font-size: 20px;
    color: #2c3e50; /* Darker text color for section titles */
  }
  
  .transactions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .transactions li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    color: #2c3e50; /* Dark text color for list items */
  }
  
  .transactions li:last-child {
    border-bottom: none;
  }
  